@import "./auth/login.scss";
@import "./header/header.scss";
@import "./quiz/quiz.scss";

body { padding-bottom: 70px; }

.mt{
  margin-top: 10px;
}

.mb{
  margin-bottom: 10px;
}

.ml{
  margin-left: 10px;
}

.mr{
  margin-right: 10px;
}

.ma{
  margin: 10px;
}

.mn{
  margin: 0 !important;
}

.mh{
  margin: 0 10px;
}

.mv{
  margin: 10px 0;
}

.pt{
  padding-top: 10px;
}

.pb{
  padding-bottom: 10px;
}

.pl{
  padding-left: 10px;
}

.pr{
  padding-right: 10px;
}

.pa{
  padding: 10px;
}

.pn{
  padding: 0 !important;
}
.ph{
  padding-left: 10px;
  padding-right: 10px
}
.pv{
  padding-top: 10px;
  padding-bottom: 10px;
}
.mtx2{
  margin-top: 20px;
}
.mbx2{
  margin-bottom: 20px;
}
.mlx2{
  margin-left: 20px;
}
.mrx2{
  margin-right: 20px;
}
.mvx2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.mhx2{
  margin-left: 20px;
  margin-right: 20px;
}
.mtx3{
  margin-top: 30px;
}
.mbx3{
  margin-bottom: 30px;
}
.mlx3{
  margin-left: 30px;
}
.mrx3{
  margin-right: 30px;
}
.mvx3{
  margin-top: 30px;
  margin-bottom: 30px;
}
.mhx3{
  margin-left: 30px;
  margin-right: 30px;
}
.ptx2{
  padding-top: 20px;
}
.pbx2{
  padding-bottom: 20px;
}
.plx2{
  padding-left: 20px;
}
.prx2{
  padding-right: 20px;
}
.pax2{
  padding: 20px;
}
.phx2{
  padding-left: 20px;
  padding-right: 20px
}
.pvx2{
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptx3{
  padding-top: 30px;
}
.pbx3{
  padding-bottom: 30px;
}
.plx3{
  padding-left: 30px;
}
.prx3{
  padding-right: 30px;
}
.pax3{
  padding: 30px;
}
.phx3{
  padding-left: 30px;
  padding-right: 30px
}
.pvx3{
  padding-top: 30px;
  padding-bottom: 30px;
}
.bn{
  border: none;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #f06060;
}
a {
  color: #000;
}
.nav-sidebar i{
  font-size: 20px;
}
.nav-sidebar i.fa-times-circle{
  color: #f06060;
}
.nav-sidebar i.fa-check-circle{
  color: #5cb85c
}
.bar-chart .bar-chart-legend > .legend p {
    color: rgba(0, 0, 0, 0.8);
}
code{
  text-align: left!important;
}

pre {
  padding: 0;
  word-break: normal;
  background: none;
  border: none;
  border-radius: 0;
}

.has-error .form-control {
    border-color: #f06060;
    color: #f06060;
}
.has-error small{
  color: #f06060;
}
